<!DOCTYPE html>
<html>
<head>
  <title>Simple Hackathon</title>
  <link rel="stylesheet" type="text/css" href="../public/css/style.css">

</head>
<style>
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header, nav, main {
    padding: 20px;
  }
  
  header {
    background-color: #f2f2f2;
  }
  
  h1 {
    margin: 0;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
  }
  
  main {
    background-color: #ffffff;
  }
  
  h2 {
    margin-top: 0;
  }
  
</style>
<body>
  <header>
    <h1>Simple Hackathon</h1>
  </header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/register">Register</a></li>
      <li><a href="/details">Details</a></li>
    </ul>
  </nav>
  <main>
    <h2>Welcome to the Simple Hackathon!</h2>
    <p>This is a simple and nice hackathon website.</p>
  </main>
  <script src="js/script.js"></script>
</body>
</html>
