div{
    border: 30px brown solid;
    background-color: antiquewhite;
   
   
}

p{
    color: blueviolet;
  
   
}
span{
    border-bottom: 5px darkgoldenrod solid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}